@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');
/*font-family: 'Zilla Slab', serif*/

body{
	background-color: gray;
}
p{
	color: white;
    font-family:'Zilla Slab', serif;
    font-size: 1.5em; 
}
h1{
	font-size: 3em;
	color: purple;	
}
h2{
	font-size: 2em;
	color: white;
}
footer p{
	padding: 15px;
	background-color: purple;
}
img{
	width: 20%;
	margin: auto;
}